  .content{
    padding: 10px;
  }
 
  mat-card-title {
    font-size: 30px;
    font-weight: 400;
    color: #048C4E;
  }
  
  mat-card-subtitle{
    font-size: 20px;
    font-weight: 400;
  }
   
  .button{
    position: absolute;
    right: 10px;
    font-size: 20px;
  }  
   
  .table {
    position: absolute;
    right: 0px;
    width: 100%;
    top: 200px;
    overflow-x: scroll;
  }
  
  button:nth-child(2) {
     padding-right: 50px;
  }

  mat-form-field{
    position: absolute;
    padding-bottom: 10px;
    left: 10px;
    min-width: 20%;
    text-align: left;
    background-color: transparent !important;
  }

  th:nth-child(2) {
    min-width: 85%;
  }

  th.mat-header-cell {
    text-align: left;
  }